    <!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            @*// Dashboard*@
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" asp-area="Admin" asp-action="Index" asp-controller="Home" >
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            @*//san pham *@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Danh sách sản phẩm</a>
                    </li>
                    <li>
                        <a href="#">File Manager</a>
                    </li>
                   
                </ul>
            </li>
            @*//Don hang*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-build"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="cards.html">Cards</a>
                    </li>
                    <li>
                        <a href="icons.html">Icons</a>
                    </li>
                    <li>
                        <a href="lists.html">Lists</a>
                    </li>
                    <li>
                        <a href="typography.html">Typography</a>
                    </li>
                </ul>
            </li>
            @*//Khách hàng*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" >
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Quản Lý Khách Hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Index" asp-controller="Customers" asp-area="Admin">Danh sách khách hàng</a>
                    </li>
                    <li>
                        <a href="carousel.html">Tìm kiếm khách hàng</a>
                    </li>
                </ul>
            </li>
            @*//Danh muc*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-action="Index" asp-controller="AdminCategories">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Quản lý danh mục</span>
                   
                </a>
             
            </li>
            @*// Doanh so*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Doanh số</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="basic-table.html">Basic Table</a>
                    </li>
                    <li>
                        <a href="data-table.html">Data Table</a>
                    </li>
                </ul>
            </li>
            @*// He Thong*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-pie-chart"></i>
                    </span>
                    <span class="title">Quản lý Hệ Thống</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Quản lý tài khoản</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Quản lý quyền truy cập</a>
                    </li>
                    <li>
                        <a href="chartjs.html">Quản lý danh mục</a>
                    </li>
                    <li>
                        <a href="chartjs.html">Quản lý tỉnh thành</a>
                    </li>
                      <li>
                        <a href="chartjs.html">Quản lý shipper</a>
                    </li>
                </ul>
            </li>
            @*// Tin tuc*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-action="Index" asp-controller="AdminTinDang">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Quản lý tin tức</span>
                   
                </a>
            
            </li>
            @*Quan ly page *@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminPage" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Quản lý page</span>
                </a>
             
            </li>
        </ul>
    </div>
</div>
<!-- Side Nav END -->